.header__image {
  background: url('/assets/green-leaves.jpg');
  height: calc(100vh - 335px);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: scale-down;
  width: auto;
}

.cards__wrapper {
  display: flex;
  justify-content: space-around;
}
