.card {
    width: 300px;
    height: 300px;
    border: 1px black solid;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.card__title {
    text-align: center;
    /* color: white; */
    font-size: 30px;
    /* bottom: 0px; */
    
}

.card:hover {
    width: 305px;
    height: 305px;
    /* border: 2px black solid; */
    /* transition: all 0.5s; */
    margin: 10px;

}

.background__image {

    background-repeat: no-repeat;
    background-size: cover; 
}
