.card {
  /* card size */
  flex: 0 0 15%;
  height: 250px;

  margin: 10px;

  /* border */
  border: 1px black solid;
  border-radius: 10px;

  /* card title */
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;

  /* background image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  opacity: 85%;
  transition: all 0.2s;
}

.card__title {
  text-align: center;
  color: black;
  font-size: 30px;
  opacity: 100%;
}

.card:hover {
  opacity: 100%;
  border: 2px black solid;
  transition: all 0.2s;
}

@media (max-width: 800px) {
  .card {
    flex: 1 0 45%;
    height: 150px;
    margin: 7px;
    border-radius: 5px;
  }
}

@media (max-width: 400px) {
  .card {
    flex: 1 0 100%;
    height: 100px;
    margin: 0px;
    border-radius: 0px;
    opacity: 90%;
  }
}
