.card {
  /* card size */
  flex: 0 0 15%;
  height: 250px;

  margin-bottom: 10px;

  /* border */
  border-radius: 10px;

  /* card title */
  display: flex;
  flex-direction: column;
  text-decoration: none;

  /* background */
  background-color: #b9b66d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  opacity: 95%;
  transition: all 0.2s;
}

.card__title {
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 0;
}

.card:hover {
  opacity: 98%;
  transition: all 0.2s;
  box-shadow: 8px 8px 5px darkgrey;
  transform: scale(1.01);
}

.icon {
  color: white;
  text-align: center;
  font-size: 4vw;
  margin: 5px;
}

/* rotate helping-hand icon so it's level */
.card:nth-of-type(5) .icon {
  transform: rotate(31deg);
}

@media (max-width: 800px) {
  .card {
    flex: 1 0 45%;
    height: 150px;
    margin: 7px;
    border-radius: 5px;
  }
  .icon {
    font-size: 4vw;
  }
}

@media (max-width: 400px) {
  .card {
    flex: 1 0 100%;
    height: 90px;
    margin: 0 0 2px 0;
    border-radius: 0px;
    opacity: 90%;
  }
  .icon {
    font-size: 6vw;
  }
}
